

.phoneAuthContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.formContainer {
  max-width: 400px;
  width: 100%;
  background-color: rgb(148, 144, 144);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #978787;
  border-radius: 5px;
  font-size: 16px;
}

.otpSentMessage {
  text-align: right;
  font-size: 14px;
  color: rgb(2, 81, 2);
  font: bold;
}

.recaptcha {
  margin-bottom: 20px;
  margin-top: 10%;
}

.otpInput {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.otpInput input {
  width: 75%;
  height: 40px;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  background-color: rgb(43, 0, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #121030;
}
